body{
 margin: auto;
 padding: auto;
box-sizing: border-box;
background-color: rgb(6, 84, 162);


}
.top{
    display: flex;
    justify-content: center;
    padding: 250px;
    
}
.btn{
    margin-left: 60px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}


.date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 150px;
    width: 40%;
    border-radius: 20px;
}
.date-container input {
    padding: 10px;
    font-size: 16px;
}
.date-container .icon {
    margin-left: -30px;
    color: #333;
    pointer-events: none;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 150px;
    width: 30%;
    border-radius: 20px;
    margin-left: 35%;
    margin-bottom: 200px;

}